<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="well">
          <em class="bold">Fungi Credits</em>
          <strong class="positive">+207</strong>
          <em>Max credit limit <span class="negative">-100</span></em>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <h5 class="text-center mb-3 bold">Recent transactions (<a href="#">view all</a>)</h5>
        <table class="table table-sm table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">From</th>
              <th scope="col">To</th>
              <th class="text-center" scope="col">Credits</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Fungi</td>
              <td>Bar</td>
              <td class="text-center negative">-1</td>
              <td class="text-right"><a href="/transaction" class="btn btn-sm btn-outline-info">detail</a></td>
            </tr>
            <tr>
              <td>Bar</td>
              <td>Fungi</td>
              <td class="text-center positive">+5</td>
              <td class="text-right"><a href="/transaction01" class="btn btn-sm btn-outline-info">detail</a></td>
            </tr>

            <tr>
              <td>Fungi</td>
              <td>Restaurant</td>
              <td class="text-center negative">-2</td>
              <td class="text-right"><a href="/transaction" class="btn btn-sm btn-outline-info">detail</a></td>
            </tr>
            <tr>
              <td>Restaurant</td>
              <td>Fungi</td>
              <td class="text-center positive">+3</td>
              <td class="text-right"><a href="/transaction" class="btn btn-sm btn-outline-info">detail</a></td>
            </tr>

            <tr>
              <td>Fungi</td>
              <td>Coffeeshop</td>
              <td class="text-center negative">-1</td>
              <td class="text-right"><a href="/transaction" class="btn btn-sm btn-outline-info">detail</a></td>
            </tr>
            <tr>
              <td>Coffeeshop</td>
              <td>Fungi</td>
              <td class="text-center positive">+4</td>
              <td class="text-right"><a href="/transaction" class="btn btn-sm btn-outline-info">detail</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="btn-bar">
      <div class="btn-group">
        <a href="/receive" class="btn btn-outline-primary">Receive</a>
        <a href="/send" class="btn btn-outline-primary">Send</a>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  mounted() {
    this.list();
  },
  components: {
    /* eslint-disable vue/no-unused-components */
  },
  data: () => {
    return {
      posts: [],
      errors: [],
      post: {
        body: null
      }
    }
  },
  methods: {
    list () {
      axios.post('http://localhost:4141/fn/posts/postsList')
        .then(response => {
          this.posts = response.data;
        })
        .catch(e => {
          this.errors.push(e);
        })
    },
    create () {
      axios.post('http://localhost:4141/fn/posts/postsCreate', this.post)
        .then(response => {
          this.post = {body: null};
          this.posts.push(response.data);
        })
        .catch(e => {
          this.errors.push(e)
        })
    },
    read () {
      console.log('read...');
    }
  },
}
</script>

<style scoped lang="scss">

  .well {
    
  }

  .btn-group {
    .btn {
      width: 50%;
    }
  }

  .table-sm {
    margin-bottom: 58px;
  }
</style>
