<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="balance">
          <em>Scan QR Code</em>
          <img src="../assets/qr-code.png" />
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <h5 class="text-center mb-3">Payment details</h5>

        <form>
          <div class="form-group">
            <label for="exampleInputPassword1">Amount credit</label>
            <input type="number" class="form-control" placeholder="Enter amount to receive">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Description</label>
            <textarea type="number" class="form-control" placeholder="Enter a description"></textarea>
          </div>
        </form>
      </div>
    </div>
    <div class="btn-bar">
      <div class="btn-group">
        <a href="/" class="btn btn-block btn-outline-primary">Cancel</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {}
}
</script>

<style scoped lang="scss">
.balance {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.10);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;

  strong {
    display: block;
    //font-family: Times;
    font-size: 6rem !important;
    margin: -1rem 0 0 0;
  }

  em {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    font-style: normal;
  }
}
</style>
