<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="balance">
          <button class="btn btn-info btn-sm" v-on:click="scanCode()">Scan QR code</button>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <h5 class="text-center mb-3">Send payment</h5>

        <form>
          <div class="form-group">
            <label>Receiver address</label>
            <input type="text" class="form-control" v-model="payment.address" placeholder="Enter receiver address">
          </div>
          <div class="form-group">
            <label>Amount credit</label>
            <input type="number" class="form-control" v-model="payment.amount" placeholder="Enter amount to send">
            <small class="form-text text-muted mt-3">
              You current balance is <strong>399 credits</strong>.<br />
              Your limit is <strong>-100 credits</strong>.<br />
              The total credits you can send is <strong>499 credits</strong>.
            </small>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea type="number" class="form-control" v-model="payment.description" placeholder="Enter a description"></textarea>
          </div>
        </form>
      </div>
    </div>
    <div class="btn-bar">
      <div class="btn-group">
        <a href="/" class="btn btn-outline-primary">Cancel</a>
        <a href="/" class="btn btn-outline-primary">Send</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {

  },
  components: {
    /* eslint-disable vue/no-unused-components */
  },
  data: () => {
    return {
      payment: {
        address: null,
        amount: null,
        description: null
      }
    }
  },
  methods: {
    scanCode() {
      return this.payment = {
        address: 'FungiBusiness',
        amount: 5,
        description: '200g Mushrooms'
      }
    }
  }
}
</script>

<style scoped lang="scss">
  .btn-group {
    .btn {
      width: 50%;
    }
  }
  .balance {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;

    strong {
      display: block;
      //font-family: Times;
      font-size: 6rem !important;
      margin: -1rem 0 0 0;
    }

    em {
      display: block;
      font-size: 1rem;
      text-transform: uppercase;
      font-style: normal;
    }
  }
</style>
