<template>
  <div class="container">

    <div class="row mt-1">
      <div class="col ">
        <h5 class="text-center mb-3 bold">Transaction details</h5>
      </div>
    </div>

    <dl class="row">
      <dt class="col-sm-3">Date</dt>
      <dd class="col-sm-9">22-12-2018, 09:05</dd>

      <dt class="col-sm-3">Sender</dt>
      <dd class="col-sm-9">Bar</dd>

      <dt class="col-sm-3">Receiver</dt>
      <dd class="col-sm-9">Fungi Business</dd>

      <dt class="col-sm-3">Credits</dt>
      <dd class="col-sm-9 positive">+5</dd>

      <dt class="col-sm-3">Description</dt>
      <dd class="col-sm-9">500g Mushrooms</dd>
    </dl>

    <div class="btn-bar">
      <div class="btn-group">
        <a href="/" class="btn btn-outline-primary">Cancel</a>
        <a href="/receive" class="btn btn-outline-primary">Send</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {}
}
</script>

<style scoped lang="scss">
  .btn-group {
    .btn {
      width: 50%;
    }
  }
  .balance {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;

    strong {
      display: block;
      //font-family: Times;
      font-size: 6rem !important;
      margin: -1rem 0 0 0;
    }

    em {
      display: block;
      font-size: 1rem;
      text-transform: uppercase;
      font-style: normal;
    }
  }
</style>
