<template>
  <nav>
    <h1>🍄 Fungi Wallet</h1>

    <template v-if="menuOpen">
      <ul class="menu-options">
        <li v-for="(link, index) in navigation">
          <router-link
            :to="link.to"
            :key="index"
            :exact="link.exact">
            {{link.text}}
          </router-link>
        </li>
      </ul>
    </template>

    <a class="btn" v-on:click="toggleMenu()">&#9776;</a>
  </nav>
</template>

<script>
export default {
  mounted() {},
  computed: {
    navigation() {
      return this.$store.state.constants.navigation;
    },
    menuOpen: {
      get() { return this.$store.state.menu.open; },
      set(value) { this.$store.commit('toggleMenu', value); }
    }
  },
  data: () => {
    return {}
  },
  props: {

  },
  methods: {
    toggleMenu() {
      return this.menuOpen = !this.menuOpen;
    },
    closeMenu() {
      return this.menuOpen = false;
    }
  },
  watch:{
    $route (to, from) {
      this.closeMenu();
    }
  }
}
</script>

<style scoped lang="scss">
  nav {
    position:fixed;
    top: 0px;
    width: 100%;
    background-color: #000;
    color: white;
    z-index: 1000;

    h1 {
      float: left;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: bold;
      padding: 0.75rem 0.75rem 0.75rem .75rem;
      margin: 0px;

      .logo {
        position: absolute;
        top: 11px;
        left: 15px;
        max-height: 100%;
        display: inline-block;
        height: 20px;
      }
    }

    .btn {
      float: right;
    }

    .menu-options {
      position: absolute;
      top: 43px;
      width: 100%;
      overflow: hidden;
      list-style: none;
      padding: 0 0 0.5rem 0;
      margin: 0px;
      background-color: rgba(0,0,0,1);

      li {
        display: block;
        width: 100%;
        padding: 0px;

        a {
          display: block;
          width: 100%;
          text-align: right;
          padding: 0.25rem 0.75rem 0.25rem 0;
          // padding: 0 15px 15px 0px;
        }
      }
    }
  }
</style>
