<template>
  <div id="app">
    <Menu />
    <router-view />
  </div>
</template>

<script>
  // @ is an alias to /src
  import Menu from '@/components/Menu.vue'

  export default {
    components: {
      /* eslint-disable vue/no-unused-components */
      Menu
    }
  }
</script>

<style lang="scss">
  @import './scss/App.scss';
</style>
