@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  background-color: #fff;
  font-size: 18px;
  height: 100vh;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
}

.bold {
  font-weight: bold;
}

.container {
  margin-top: 43px;
  padding: 1rem;
}

.well {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.10);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;

  strong {
    display: block;
    //font-family: Times;
    font-size: 5rem !important;
    margin: -1rem 0 0 0;
  }

  em {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    font-style: normal;
  }
}

.btn-bar {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 10px 15px;
  background-color: #f2f2f2;
  display: flex;

  .btn-group {
    width:100%;

    .btn {
      // width: 50%;
    }
  }
}

.positive {
  color: green;
}
.negative {
  color: red;
}
